@charset "ISO-8859-1";
* {
  margin: 0;
  padding: 0;
}

body {
  color: #dddddd;
  background-color: #101010;
  font-family: arial, verdana, sans-serif;
  /* border-top: 10px solid #1098ad;  */
  position: relative;
}

.container {
  width: 450px;
    /*background-color: #ffffdd; */
  margin: 0 auto;
}

.main-header {
	/* background-color: #000066; */
	color: #dddddd;
	text-align: center;
	margin-bottom: 20px;
}

h1, h3 {
	text-transform: uppercase;
	margin-left: 20px;
}

h1 {
	font-size: 60px;
	font-family: arial narrow;
	font-weight: normal;
	padding-top: 20px;
}

form {
	border-style: ridge;
	line-height: 2;
	padding: 20px;
	display: table;
	width: 100%;
}

form label {
	/*float: left;*/
	width: 35%;
	margin-left: 1em;
	display: table-cell;
}

form p {
	display: table-row
}

span {
	width: 100%;
}

imput {
	display: table-cell;
	
}

input[type="text"], input[type="password"] {
    margin-bottom: 0.2em;
	width: 75%;
	height: 30px;
}

input[type="submit"] {
	padding: .2em 4em;
    /*margin: 0 0 2em 8em;*/
    border-radius: 4px;
    background-color: #808080;
}

.signUpText {
	text-align: center;
	margin: auto;
}

