@charset "ISO-8859-1";
* {
  margin: 0;
  padding: 0;
}

body {
  color: #dddddd;
  background-color: #101010;
  font-family: arial, verdana, sans-serif;
  /* border-top: 10px solid #1098ad;  */
  position: relative;
}

.container {
  width: 450px;
    /*background-color: #ffffdd; */
  margin: 0 auto;
}

.main-header {
	/* background-color: #000066; */
	color: #dddddd;
	text-align: center;
	margin-bottom: 20px;
}

h1, h3 {
	text-transform: uppercase;
	margin-left: 20px;
}

h1 {
	font-size: 60px;
	font-family: arial narrow;
	font-weight: normal;
	padding-top: 20px;
}

form {
	border-style: ridge;
	line-height: 2;
	padding: 20px;
}

form label {
	/*float: left;*/
	width: 4em;
	margin-left: 1em;
}

input[type="text"], input[type="password"] {
    width: 15em;
    margin-bottom: 0.2em;
}

input[type="submit"] {
	padding: .2em 4em;
    margin: 0 0 2em 8em;
    border-radius: 4px;
    background-color: #808080;
}

.signUpText {
	text-align: center;
	margin: auto;
}

.signintext {
	margin-left: 0px;
}
